.background-image {
    background-image: url('../img/Background3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: fixed;
}

.navbar-brand img {
    width: 180px;
    height: 150px;
    margin: 8% 0% 0% 20%;
}

.navbar .navbar-nav {

    margin-right: 260px;
}

.navbar .navbar-nav .nav-link {
    color: #F4D5B2;
    margin: 0% 0% 0% 0%;
    font-size: 20px;

}

.heading {
    margin-left: 150px;
}

.heading h1 {
    color: #EFB317;
    font-size: 85px;
    font-weight: 350;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.heading h2 {
    color: #EFB317;
    font-size: 85px;
    font-weight: 350;
    margin: -4% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.heading p {
    color: #F4D5B2;
    font-size: 27px;

}

.btn {
    color: #edd9c2 !important;
    font-weight: 350 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    padding: 1% 4% 1% 4% !important;
    border-radius: 25px !important;
    background-color: #EFB317 !important;
    font-size: 23px !important;

}

.banner img {
    width: 57%;
    border-radius: 50%;
    border: #EFB317 solid 25px;
    margin-left: 100px;
}