/* .backgroundimage {
    background-image: url('../img/Background3.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
} */

.navbar-brand img {
    width: 170px;
    height: 140px;
    margin: 8% 0% 0% 20%;
}

.navbar .navbar-nav {

    margin-right: 200px;
}

.navbar .navbar-nav .nav-link {
    color: #F4D5B2;
    margin: 0% 0% 0% 0%;
    font-size: 20px;
    padding: 0% 2% 0% 2%;

}
.nav-link:hover{
    background-color: #EFB317 !important;
    color: #edd9c2 !important;
    border-radius: 25px;
}
.nav-link:hover:not(.active){
    background-color: #EFB317;
    
}
.active{
    background-color: #EFB317;
    border-radius: 25px;
    color: #edd9c2 !important;
}
.bi-lightbulb-fill{
    color: #EFB317 !important;

}

.heading {
    margin-left: 180px;
}

.heading h1 {
    color: #EFB317;
    font-size: 85px;
    font-weight: 350;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.heading h2 {
    color: #EFB317;
    font-size: 85px;
    font-weight: 350;
    margin: -4% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
}

.heading p {
    color: #F4D5B2;
    font-size: 27px;

}

.btn {
    color: #edd9c2 !important;
    font-weight: 380 !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    padding: 1% 4% 1% 4% !important;
    border: none;
    border-radius: 25px !important;
    background-color: #EFB317 !important;
    font-size: 23px !important;
    cursor: grab;

}
.social{
    margin-left: 185px;
    margin-top: 20px;
}
.social-img{
    height: 30px;
    width: 30px;
    margin-right: 2%;
    
}

.banner img {
    width: 57%;
    border-radius: 50%;
    border: #EFB317 solid 25px;
    margin-left: 100px;
    margin-top: -25px;
}

.dark{
    position:relative;
    top: 80px;
    right: 75px;
    float: right;
    font-size: 40px;
}